<div class="container">
<!--   <ngb-carousel (slice)="slideActivate($event)"> -->
  <div class="row">
    <div class="col-12">
      
      <div class="text-center prev">
        <i class="fa fa-arrow-circle-up" (click)="getToPrev()" aria-hidden="true"></i>
      </div>
        </div>
    <div class="col-12 text-center">
      <ngb-carousel #ngcarousel>
        <ng-template ngbSlide id="one">
          <div class="picsum-img-wrapper ">
            <img class="imgmin" src="../../../assets/images/1p.jpg" width="100%" alt="Angular Carousel 1">
          </div>
 
        </ng-template>
        <ng-template ngbSlide id="two">
          <div class="picsum-img-wrapper">
            <img class="imgmin" src="../../../assets/images/2p.jpg" width="100%" alt="Angular Carousel 3">
          </div>

        </ng-template>
        <ng-template ngbSlide id="three">
          <div class="picsum-img-wrapper">
            <img class="imgmin" src="../../../assets/images/3p.jpg" width="100%" alt="Angular Carousel 3">
          </div>

        </ng-template>
        <ng-template ngbSlide id="four">
          <div class="picsum-img-wrapper">
            <img class="imgmin" src="../../../assets/images/4p.jpg" width="100%" alt="Angular Carousel 3">
          </div>

        </ng-template>
        <ng-template ngbSlide id="five">
          <div class="picsum-img-wrapper">
            <img class="imgmin" src="../../../assets/images/5p.jpg" width="100%" alt="Angular Carousel 3">
          </div>


        </ng-template>
        <ng-template ngbSlide id="six">
          <div class="picsum-img-wrapper">
            <img class="imgmin" src="../../../assets/images/6p.jpg" width="100%" alt="Angular Carousel 3">
          </div>

        </ng-template>
        <ng-template ngbSlide id="seven">
          <div class="picsum-img-wrapper">
            <img class="imgmin" src="../../../assets/images/7p.jpg" width="100%" alt="Angular Carousel 3">
          </div>

        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-12">
      
  <div class="text-center next">
    <i class="fa fa-arrow-circle-down" (click)="goToNext()" aria-hidden="true"></i>
  </div>
    </div>
<!--     <div class="col-12">
      
      <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="navigateToSlide('four')">Go to Slide Four</button>
        <button type="button" class="btn btn-danger" (click)="stopCarousel()">Pause</button>
      </div>
        </div> -->
  </div>
  </div>
