.btn-submit {
    background: #6D294A;
    color: white;
    border: #6D294A;
}

.btn-submit:hover {
    background: #511C36;;

}

h1{
    margin-top: 30px;
    color: #6D294A;
    font-size: 30px;
}
.icons{
    margin-top: 5%;
}

.icons i {
    color: #6D294A;
    margin-left: 10px;
}
.text {
    color: #6D294A;
}
.bg{

    -webkit-box-shadow: 3px 9px 26px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 9px 26px 2px rgba(0,0,0,0.4);
    box-shadow: 3px 9px 26px 2px rgba(0,0,0,0.4);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bg{
        height: 550px;
        width: 100%;
    background-image: url("/assets/images/mapmap-01.jpg");
    margin-top: 20%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .bg{
        height: 550px;
        width: 100%;
    background-image: url("/assets/images/mapmap-01.jpg");
    margin-top: 20%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bg{
        height: 550px;
        width: 100%;
    background-image: url("/assets/images/mapmap-01.jpg");
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bg{
        height: 550px;
        width: 100%;
    background-image: url("/assets/images/mapmap-01.jpg");
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .bg{
        height: 550px;
        width: 100%;
    background-image: url("/assets/images/mapmap-01.jpg");
    }
}