<div class="row mx-auto">
   <div class="row">
    <div class="col-4 ">
        <img class="imgp" src="../../../assets/images/imgp.jpg" alt="" srcset="">
    </div>
    <div class="col-5 info">
        <div class="row">
            <div class="col-12">
                <h1 class="title">Desarrollador Web</h1>
                <h1 class="nombre">CAMILO</h1>
                <h1 class="apellido">RODRÍGUEZ <br>LÓPEZ</h1>
                <span class="text-info">Ingeniero Multimedia , responsable, creativo,
                    autodidacta y orientado al trabajo en equipo; con experiencia con 3 años de experiencia en diseño de interfaces y desarrollo web con HTML/CSS, PHP, JS y aplicando técnicas de UX.</span>
            
            </div>
        
            <div class="col-12 redes">
                <div class="icons float-right">
                    <i class="fa fa-facebook-official fa-2x " aria-hidden="true"></i>
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-behance fa-2x" aria-hidden="true"></i>
                    <div class="text">
                        <span class="float-right">SÍGUEME A DONDE VAYA</span>
                    </div>
                </div>
            </div>
            <div class="col-12 contact">
                    <div class="email">
                        <span class="">EMAIL: <br> rodriguez.camilo@hotmail.es</span>
                    </div>
                    <div class="tel">
                        <span class="">TELÉFONO: <br> (+57)3156719123 </span>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div id="instafeed">
            Insta feed
        </div>
    </div>

   </div>
</div>